<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ get_url(path="tachyons.css", trailing_slash=false) | safe }}">
  <link rel="stylesheet" href="{{ get_url(path="markdown.css", trailing_slash=false) | safe }}">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Lobster&display=swap" rel="stylesheet">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@_lrlna">
  <meta name="twitter:creator" content="@_lrlna">
  <meta name="twitter:title" content="Irina's and Yoshua's Food Blog">
  <meta name="twitter:image" content="{{ get_url(path="twitter-card.png", trailing_slash=false) | safe }}">
  <!-- <link rel="preload" as="font" crossorigin href="{{ get_url(path="inter-regular.woff2", trailing_slash=false) | safe }}"> -->
  <!-- <link rel="preload" as="font" crossorigin href="{{ get_url(path="inter-italic.woff2", trailing_slash=false) | safe }}"> -->
  <!-- <link rel="preload" as="font" crossorigin href="{{ get_url(path="inter-bold.woff2", trailing_slash=false) | safe }}"> -->
  {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
  {% endif %}
<head>
<body class="ph3 h-100-l ph4-ns flex-l pb3 pb4-ns blog-bg-light-purple archivo">
  <nav class="h-100-l flex-grow-0-l rotate-90-l">
    <h1 class="mt5 mb0 b f2 f1-m flex-row-l f-subheadline-l archivo blog-dark-blue">
      <div class="pink-shadow mr3">nom: a recipe blog</div>
    </h1>
    {% block content %}
    <a href="https://lrlna.computer" class="black link b f1 f-subheadline-l ml2 mt3 mt4-ns">
    </a>
  </nav>
  {% for page in paginator.pages | reverse %}
    <section itemprop="name" class="mt4 mb0 mw6 mw7-l flex-grow-1-l archivo flex-row-l lh-solid">
      <a class="archivo b f2 f1-m f-subheadline-l link blog-dark-blue underline"
        href="{{ page.permalink | safe }}">
        {{ page.title }}
      </a>
    </section>
  {% endfor %}
  <!-- <section itemprop="name" class="self-end">
    <a class="f3 f-subheadline-l link blog-dark-blue underline b"
      href="{{ get_url(path="rss.xml") | safe }}" target="_blank">
      rss feed
    </a> -->
  </section>
  {% endblock content %}
<body>
