<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ get_url(path="tachyons.css", trailing_slash=false) | safe }}">
  <link rel="stylesheet" href="{{ get_url(path="markdown.css", trailing_slash=false) | safe }}">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Lobster&display=swap" rel="stylesheet">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@_lrlna">
  <meta name="twitter:creator" content="@_lrlna">
  <meta name="twitter:title" content="Irina's and Yoshua's Food Blog">
  <meta name="twitter:image" content="{{ get_url(path="twitter-card.png", trailing_slash=false) | safe }}">
  <!-- <link rel="preload" as="font" crossorigin href="{{ get_url(path="inter-regular.woff2", trailing_slash=false) | safe }}"> -->
  <!-- <link rel="preload" as="font" crossorigin href="{{ get_url(path="inter-italic.woff2", trailing_slash=false) | safe }}"> -->
  <!-- <link rel="preload" as="font" crossorigin href="{{ get_url(path="inter-bold.woff2", trailing_slash=false) | safe }}"> -->
  {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
  {% endif %}
<head>
<body class="ph3 h-100-l w-100-l flex ph4-ns pb3 pb4-ns blog-bg-light-purple archivo">
  <div class="mt4 flex-l">
    <nav class="w-100-l rotate-90-l justify-start-l items-center-l flex-l">
      <div class="flex-l flex-column-l">
        <h1 class="mb0 b f2 f1-m f-subheadline-l archivo blog-dark-blue pink-shadow">
          nom n om  n o m
        </h1>
        <!-- <img src="{{ get_url(path="nom-website.png") | safe }}"
          class="rotate-270-l w-40 h-auto pr7"/> -->
        {% block content %}
      </div>
    </nav>
    {% for page in paginator.pages | reverse %}
      <section itemprop="name" class="w-75-l mb0 archivo lh-solid flex-l">
        <a class="archivo b f2 f1-m f-subheadline-l link blog-dark-blue underline"
          href="{{ page.permalink | safe }}">
          {{ page.title }}
        </a>
      </section>
    {% endfor %}
    <!-- <section itemprop="name" class="self-end">
      <a class="f3 f-subheadline-l link blog-dark-blue underline b"
        href="{{ get_url(path="rss.xml") | safe }}" target="_blank">
        rss feed
      </a>
    </section> -->
    {% endblock content %}
  </div>
<body>
